#fb
  width: 36px
  height: 36px
  position: fixed
  right: 15px
  bottom: 15px

// Home page//
.logo1
  float: left
  margin-left: 15px
  width: 260px
  height: 80px

.headerimg
  width: 640px
  clear: right
  margin: 100px auto
  text-align: center

#butterfly1
  z-index: -1
  position: absolute
  margin-right: 0
  left: -60px
  top: 200px
  width: 500px
  height: 500px

#butterfly2
  z-index: -1
  position: absolute
  right: -120px
  top: 300px
  width: 500px
  height: 400px

.alyssa
  width: 275px
  height: 439px
  display: block
  float: left
  padding-right: 15px

.alyssa2
  width: 200px
  height: 370px
  display: block
  float: right
  padding-left: 15px

.Superhero
  width: 200px
  height: 364px
  display: block
  float: right
  padding-right: 15px

  //Donations//
#family
  width: 319px
  height: 212px
  text-align: center

//Event//
#event
  width: 674px
  height: 364px
  margin-top: 100px

#eventheader
  clear: right
  text-align: center

#eventpic
  padding-right: 15px
  float: left
  width: 312px
  height: 209px

//contact//
#contactlogo1
  margin-bottom: 25px
  width: 374px
  height: 108px

#contactheart
  width: 285px
  height: 222px

//News//
#newsheader
  padding-top: 100px
  text-align: center
  clear: right
  img
    width: 640px
    height: 409px
#newspic1,#newspic2, #newspic3, #newspic4
  float: left
  margin-right: 20px
  width: 298px
  height: 240px
  overflow: hidden
  box-shadow: 3px 3px 5px grey
  img
    width: 320px
    height: 285px

#newspic2
  float: right
  margin-left: 20px
  img
    width: 298px
    height: 240px
#newspic3
  width: 177px
  height: 210px
  float: left
  margin-right: 20px
  img
    margin-top: -30px
    width: 196px
    height: 294px
#newspic4
  float: right
  width: 229px
  height: 237px
//ourmission//
#bigarc
  position: absolute
  left: calc(50% - 247.5px)
  top: 450px

//media querys//
