header
  width: 100%
  ul.main
    display: flex
    flex-direction: row-reverse
    list-style: none
    float: right
    text-align: center
    li
      margin-top: 10px
      margin-left: 25px
    .dropdown
      cursor: default
      div
      ul
        display: flex
        flex-direction: column
        li
          display: none
      &.open , &:hover
        ul
          position: absolute
          width: 100px
          >li , a
            margin-left: -25px
            width: 100px
            background: white
            display: block
            padding: 4px
            margin-top: -1px
            border: 1px solid grey
            &:hover
              color: black
              background: $primary-color
            &:last-of-type
              border-bottom-left-radius: 20px
              border-bottom-right-radius: 20px
            &:nth-of-type(2)
              border-top-left-radius: 20px
              border-top-right-radius: 20px
          a li
            margin: 2.5px 5px
            display: block
          a
            padding: 0px
            &:nth-of-type(2)
              border-top-left-radius: 0px
              border-top-right-radius: 0px
            &:nth-of-type(1)
              border-top-left-radius: 20px
              border-top-right-radius: 20px
          .hide , .hide:hover
            border: none
            background: none
          .subdropdown
            display: none
          .subdrop:hover
            .subdropdown
              display: block
  .subdropdown
      display: none
.donate
  margin-right: 30px
@include tablet
  .logo1
    display: none
  div.hamburger
    width: 2em
    height: 2em
    padding: 0.5em
    background-color: $primary-color
    cursor: pointer
    margin: 10px 0 0 calc(100% - 1.5em - 35px)
    div
      background-color: white
      width: 2em
      height: 0.4em
      margin-bottom: 0.4em
      transition: all 0.2s ease-out
    &.open
      .top
        transform: translateY(0.8em) rotate(45deg)
      .mid
        opacity: 0
      .bottom
          transform: translateY(-0.8em) rotate(-45deg)
  ul.main
    display: none !important
  ul.mainopen
    background: white
    margin-right: 15px
    width: 60vw
    padding-left: 0px
    display: flex !important
    flex-direction: column-reverse !important
    list-style: none
    float: right
    text-align: center

    li
      border: 1px solid $primary-color
      padding: 10px 0
      margin: 0 !important
      margin-bottom: -1px  !important
      &:hover
        color: black
        background: $primary-color
    .topmenu
      border-top-right-radius: 20px
      border-top-left-radius: 20px
    .bottommenu
      border-bottom-right-radius: 20px
      border-bottom-left-radius: 20px
    .dropdown
      margin: 0 0 -1px 0 !important
      div
        display: none
      ul
        padding-left: 0px
        display: flex
        flex-direction: column
        li
          display: none
      &.open, &:hover
        div
          display: block
        ul
          position: absolute
          margin-top: -30px !important
          right: calc(60vw + 0px)
          width: 30vw  !important
          padding-top: 5px !important
          >li , a
            margin-left: 0px
            overflow: hidden
            width: 35vw !important
            background: white
            display: block
            padding: 8px  !important
            margin-top: -1px
            border: 1px solid grey
            &:hover
              color: black
              background: $primary-color
            &:last-of-type
              border-bottom-left-radius: 20px
              border-bottom-right-radius: 20px
            &:nth-of-type(2)
              border-top-left-radius: 20px
              border-top-right-radius: 20px
          a li
            border: none
            padding: 0px
            margin: 8px 10px !important
            display: block
          a
            padding: 0 !important
            margin: 0 !important
            &:nth-of-type(2)
              border-top-left-radius: 0px
              border-top-right-radius: 0px
            &:nth-of-type(1)
              border-top-left-radius: 20px
              border-top-right-radius: 20px
          .hide , .hide:hover
            border: none
            background: none
          .subdropdown
            display: none
          .subdrop:hover
            .subdropdown
              position: absolute
              right: 25px
              top: 65px
              display: block
    .donate
      margin-top: 5px !important
      margin-right: 0px
