doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title The HTML5 Herald
    meta(name='description', content='The HTML5 Herald')
    meta(name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=yes, target-densityDpi=device-dpi")
    meta(name='Austin Babcock', content='SitePoint')
    link(rel='stylesheet', href='assets/css/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')      
  body
    header
      include includes/menu.pug
    div.scholarshipcontent
      div.sch2016
        h2 2016
        h3 Alyssa Lane Hutchens Critical Care Transport Scholarship
        h4 Christina Dressler
        img(src="assets/img/2016.jpg")
        p.
          Christina (Christy) Dressler, RRT-NPS, C-NPT, CMTE has been with Children’s Mercy for more than 18 years and is currently the Assistant Director of Transport Operations.  She has a vast knowledge of the transport industry and has transported thousands of critically ill children as a Transport Respiratory Therapist.  In addition, she was previously the Safety Officer for Transport and was able to make a significant improvement on their team’s safety culture and program.  She is viewed as a leader and expert in the EMS industry regionally and nationally.  Two years ago, she became a Certified Medical Transport Executive.  She is a strong advocate for Neonatal and Pediatric Transport and her staff members admire her hard work and dedication.    
        p.
          Christy’s community service and volunteer activities include participating in community outreach opportunities as a member of the Transport Team, displaying vehicles and providing information about Children’s Mercy and Critical Care Transport.  She has volunteered at the KC Hospice House and completed a medical mission trip to Swaziland in Africa.  She is a board member of the Missouri Air Ambulance Association.  Christy is currently attending Park University in pursuit of a Masters degree in Health Administration.
        p.
          “It is a privilege to work for a hospital and a department that transforms the lives of patients and families every day.  As I have moved into a leadership role within the Transport Department, I have found it very fulfilling to now directly impact how our transport teams are providing care to the community while helping our staff grow in their careers and as individuals.  As I continue with my schooling, my hope is to utilize the knowledge gained in my current role.  Transport is my passion and I foresee myself remaining in a leadership role within the department.”    
        p.
          -Christy Dressler
      
  a(href="https://www.facebook.com/Remembering-Alyssa-931441953599142/", target="_blank"): img(src="assets/img/fb.jpg")#fb
  script(src='assets/js/functions.js')
  script.
    function myFunction() {
      var x = document.getElementById('d');
    if (x.className === 'drop-menu') {
      x.className = 'drop-menu-down';
    } else {
    
      x.className = 'drop-menu';
      }
      }
    
      function sub() {
        var x = document.getElementById('sub');
      if (x.className === 'drop-menu-sub') {
        x.className = 'drop-menu-down';
      } else {
      
        x.className = 'drop-menu-sub';
        }
        }  
