doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title The HTML5 Herald
    meta(name='description', content='The HTML5 Herald')
    meta(name='Austin Babcock', content='SitePoint')
    link(rel='stylesheet', href='assets/css/style.css')
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')
  body
    header 
      ul
        li.donate#button DONATE
        li Contact Us
        li Scholarships
        li News
        li Events
        li About Us
        img(src="assets/img/Logo1.jpg").logo1
    img(src="assets/img/butterFly1.jpg")#butterfly1
    div.headerimg
      img(src="assets/img/Logo2.jpg")#logo2
    img(src="assets/img/butterfly2.jpg")#butterfly2
    script(src='assets/js/scripts.js')
