doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title The HTML5 Herald
    meta(name='description', content='The HTML5 Herald')
    meta(name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=yes, target-densityDpi=device-dpi")
    meta(name='Austin Babcock', content='SitePoint')
    link(rel='stylesheet', href='assets/css/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
      | !-- Load Facebook SDK for JavaScript -->
    #fb-root
    script.
      (function(d, s, id) {
      var js, fjs = d.getElementsByTagName(s)[0];
      if (d.getElementById(id)) return;
      js = d.createElement(s); js.id = id;
      js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6";
      fjs.parentNode.insertBefore(js, fjs);
      }(document, 'script', 'facebook-jssdk'));
  
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')      
  body
    header
      include includes/menu.pug
    div#eventheader
      img(src="assets/img/event3.jpg")#event
    div#mediabg
      img(src="assets/img/butterFly1.jpg")#butterfly1
      img(src="assets/img/butterFly2.jpg")#butterfly2

    div#media2016
      h2 2016 Alyssa's Ride
      div#mediabuttons
        a(href="https://www.facebook.com/931441953599142/photos/?tab=album&album_id=1080571838686152", target="_blank"): p#button.alb1 Album 1
        a(href="https://www.facebook.com/931441953599142/photos/?tab=album&album_id=1079843408758995", target="_blank"): p#button.alb2 Album 2
      div#videos
        .fb-video(data-href='https://www.facebook.com/931441953599142/videos/1084941498249186/', data-allowfullscreen='true', data-width='400')#vid1
        .fb-video(data-href='https://www.facebook.com/931441953599142/videos/1084940848249251/', data-allowfullscreen='true', data-width='400')#vid2
  a(href="https://www.facebook.com/Remembering-Alyssa-931441953599142/", target="_blank"): img(src="assets/img/fb.jpg")#fb
  script(src='assets/js/functions.js')
    script.
          function myFunction() {
          var x = document.getElementById('d');
          if (x.className === 'drop-menu') {
            x.className = 'drop-menu-down';
            } else {
            
            x.className = 'drop-menu';
            }
            }
            
            function sub() {
            var x = document.getElementById('sub');
            if (x.className === 'drop-menu-sub') {
              x.className = 'drop-menu-down';
              } else {
              
              x.className = 'drop-menu-sub';
              }
              }  
