doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title The HTML5 Herald
    meta(name='description', content='The HTML5 Herald')
    meta(name='Austin Babcock', content='SitePoint')
    link(rel='stylesheet', href='assets/css/style.css')
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')      
  body
    header
      include includes/menu.pug
    div#ourmissionheader
      img(src="assets/img/butterFly1.jpg")#butterfly1
      div.headerimg
        img(src="assets/img/logo2.png")#logosmall
      img(src="assets/img/bigarc.png")#bigarc
      img(src="assets/img/butterfly2.jpg")#butterfly2            
    div#ourmissioncontent
      h2 Our Mission      
      p.
        Remembering Alyssa, Inc. was established in memory of Alyssa Hutchens who passed away unexpectedly at the short age of 16, focusing on raising money to empower youth and adults to make a difference through education, make a hospital experience more comfortable for children, keep families with hospitalized children close to each other, and give hope through clean water to those in Uganda, Africa.
      p.
        Remembering Alyssa, Inc. is recognized as a 501(c)(3) public charity.  As a 501(c)(3) public charity, your donations are tax deductible.  Ride registrations are not tax deductible.  
  a(href="https://www.facebook.com/Remembering-Alyssa-931441953599142/", target="_blank"): img(src="assets/img/fb.jpg")#fb
  script(src='assets/js/functions.js')
  script.
    function myFunction() {
      var x = document.getElementById('d');
    if (x.className === 'drop-menu') {
      x.className = 'drop-menu-down';
    } else {
    
      x.className = 'drop-menu';
      }
      }
    
      function sub() {
        var x = document.getElementById('sub');
      if (x.className === 'drop-menu-sub') {
        x.className = 'drop-menu-down';
      } else {
      
        x.className = 'drop-menu-sub';
        }
        }  
