doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title The HTML5 Herald
    meta(name='description', content='The HTML5 Herald')
    meta(name='viewport' content="width=device-width, initial-scale=1.0, maximum-scale=3.0, minimum-scale=1.0, user-scalable=yes, target-densityDpi=device-dpi")
    meta(name='Austin Babcock', content='SitePoint')
    link(rel='stylesheet', href='assets/css/style.css')
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")
    //if lt IE 9
      script(src='https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js')      
  body
    header
      include includes/menu.pug
    div#eventheader
      img(src="assets/img/event3.jpg")#event
    div#sponsorcontent
      p.
        Many thanks to the kindness and generosity of our local businesses, individuals and clubs for making this legacy of compassion possible.  Without you, this event would not be possible. If you would like to donate to our cause and help offset some of the ride expenses, we would greatly appreciate it!  Every gift counts and you have made a tremendous difference.
      h2 Sponsors of Alyssa's Ride
      div.sponsorlogos
      div.becomesponsor
        p.
          interested in becoming a sponsor?
        ul
          a(href="assets/files/Sponsor Form.pdf" download): li#button Mail-In
          li#button Online
        p You can mail to
        p Remembering Alyssa. Inc.
        p  P.O. Box 4
        p  Easton, KS 66020
  a(href="https://www.facebook.com/Remembering-Alyssa-931441953599142/", target="_blank"): img(src="assets/img/fb.jpg")#fb
  script(src='assets/js/functions.js')
  script.
    function myFunction() {
      var x = document.getElementById('d');
    if (x.className === 'drop-menu') {
      x.className = 'drop-menu-down';
    } else {
    
      x.className = 'drop-menu';
      }
      }
    
      function sub() {
        var x = document.getElementById('sub');
      if (x.className === 'drop-menu-sub') {
        x.className = 'drop-menu-down';
      } else {
      
        x.className = 'drop-menu-sub';
        }
        }  
