@include tablet
  #ourmissionheader
    width: 100vw
    margin: 0
  #ourmissioncontent, #homecontent, #eventcontent,#eventregister,#newscontent, #contactinfo, #ourgivingcontent, #shirtheader
    width: 90vw !important
    margin-bottom: 50px !important
  #eventcontent ,.scholarshipcontent
    p
      width: 100%
  #eventregister
    margin-bottom: 50px
  #newsheader
    height: 409px
    padding-top: 15px
  #contactinfo
    margin-top: 0 !important
  #videos
    flex-direction: column
    width: 100%
#mediabuttons
  p
    width: 10vw
    min-width: 80px
    max-width: 150px
