@include tablet
  #ourmissionheader
    width: 100vw
    margin: 0
  #ourmissioncontent, #homecontent, #eventcontent,#eventregister,#newscontent, #contactinfo, #ourgivingcontent, .shirtcontent, #sponsorcontent
    width: 90vw !important
    margin-bottom: 50px !important
  #eventcontent ,.scholarshipcontent
    p
      width: 100%
  #eventregister
    margin-bottom: 50px
  #newsheader
    height: 409px
    padding-top: 15px
  #contactinfo
    margin-top: 0 !important
  #videos
    flex-direction: column
    width: 100%
  #mediabuttons
    p
      width: 10vw
      min-width: 80px
      max-width: 150px
  #donatetop
    display: flex
    flex-direction: column
    width: 95vw
    img
      margin: 0 auto
    p
      margin: 0 auto
      width: 60%
      margin-top:  5%
      float: right
  #donations
    form
      margin-top: 0
.lastpic
  width: 30vw
  overflow: none
  img
    width: 30vw !important
    max-height: 100%
    max-width: 20vw !important
.paypalbutton
  width: 1px !important
  height: 1px !important
  min-width: 1px !important
.paypalform
  max-width: 500px
  width: 50vw !important
  border: 1px soilid red
