header
  div.hamburger
    div.top
    div.mid
    div.bottom
  ul.main 
    a(href="donate.html"): li.donate#button DONATE
    a(href="contact.html"): li.bottommenu Contact Us
    a(href="news.html"): li News
    li#dropdown1.dropdown Events
      div.showelement
        ul.dropdown
          li.hide
          li.subdrop.showelement Alyssa's Ride
            ul.subdropdown
              li.hide
              a(href="alyssaride.html"): li Event
              a(href="sponsors.html"): li Sponsors
              a(href="shirt.html"): li Shirts
              a(href="media.html"): li Pictures
    li#dropdown2.dropdown About Us
      div.showelement2
        ul.dropdown
          li.hide
          a(href="ourmission.html").showelement2: li.showelement2 Our Mission
          a(href="ourgiving.html").showelement2: li.showelement2 Our Giving
    a(href="index.html"): li.topmenu Home
  a(href="index.html"): img(src="assets/img/Logo1.jpg").logo1
