header
  div.hamburger
    div.top
    div.mid
    div.bottom
    ul.main 
      a(href="donate.html"): li.donate#button DONATE
      a(href="contact.html"): li.hide Contact Us
      a(href="scholarship.html"): li.hide Scholarships
      a(href="news.html"): li.hide News
      li#dropdown1.dropdown Events
        div
          ul.dropdown
            li.hide
            li.subdrop Alyssa's Ride
              ul.subdropdown
                li.hide
                a(href="alyysaride.html"): li Event
                a(href="sponsors.html"): li Sponsors
                a(href="shirt.html"): li Shirts
                a(href="media.html"): li Pictures
      li#dropdown2.dropdown About Us
        div
          ul.dropdown
            li.hide
            a(href="ourmission.html"): li Our Mission
            a(href="#"): li Our Giving
    img(src="assets/img/Logo1.jpg").logo1
