#media2016
  clear: right
  text-align: center
  width: 95vw
  margin: 0 auto
  padding-top: 25px

  #videos
    margin: 0 auto
    display: flex
    width: 80%
    #vid1,#vid2
      margin: 15px auto

#mediabuttons
  display: flex
  width: 80%
  margin: 0px auto
  a 
    margin: 25px auto
