#sponsorcontent
  width: 640px
  margin: 50px auto

.becomesponsor
  p
    text-align: center
    margin: 0
  ul
    list-style-type: none
    font-size: 1.2em
.weber
  max-height: 100vh !important

.derek
  height: 40vh !important
  width: auto !important
