#sponsorcontent
  width: 640px
  margin: 50px auto

.becomesponsor
  .becomesponsortext
    font-size: 1.3em
    font-weight: bold
  p
    text-align: center
    margin: 0
  ul
    list-style-type: none
.sponsorbuttons
  margin-bottom: 25px
.inform
  text-align: center
.textlogo
  display: inline
  margin: 0 15px
  p
    display: inline-block
